node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

dist/
build/
out/
.parcel-cache/
.vite/
.next/

.cache/
.parcel-cache/


.DS_Store
Thumbs.db
desktop.ini

.env
.env.local
.env.*.local

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.swp
*~
tmp/
temp/

.eslintcache

.jest/

Icon?


